<%- include('layout/header') %>

    <div class="conteiner">
        <div class="row my-4">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="table-dark">
                                <th>Nome</th>
                                <th>E-Mail</th>
                                <th>Telefone</th>
                                <th>Primeiro Contato</th>
                                <th>Segundo Contato</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Maria Antonia</td>
                                <td>mariaa@terra.com.br</td>
                                <td>19 99356412</td>
                                <td>Alex</td>
                                <td>Bruna</td>
                                <td>
                                    <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                    <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('layout/footer') %>